{% extends 'layout/base.html' %}
 {% load static %}

{% block content %}  
<h1 class="bd-title" id="content">{{ object.name }}</h1> 
   <div class="bd-messeges" id="wrapp">
        <div class="bd-message" data-spy="scroll"  data-offset="1">  
        {% if is_member %} 
          {% for item in messages %} 
             {% comment %} {% read_msg item.id %}  {% endcomment %}
              <div class="message">
                <div class="author_mes">{{item.sender}}</div> 
                  <div class="content-mes">
                    {{item.text}}
                  </div>
                  <div class="time"> {{item.created_date|date:"Y-m-d H:i:s"}}</div>
              </div>   
          {% endfor %} 
        {% endif %}
        </div> 
   </div>     
   <div class="send">
            <textarea class="form-control" id="text"></textarea>
            <div class="input-group-append">
                <button type="button" id="chat-message-submit" class="btn btn-primary">Send</button>
            </div>
        </div>  

<script src="{% static 'js/reconnecting-websocket.js' %}"> </script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var wrapp = document.getElementById('wrapp'); 
     wrapp.scrollTop = wrapp.scrollHeight;
 })
 var roomName = "{{ object.slug }}"; 
 var id_user =  "{{ id_user }}"; 
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  
    var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + "/ws/chat/" + roomName + "/");
 chatSocket.onmessage = function(e) {
     var data = JSON.parse(e.data);
     
     var message = data['message']; 
     var author = message.author;
     var time = message.timestamp; 
     var mes = document.querySelector('.bd-message')
     var messageDiv = document.createElement('div')
     messageDiv.className = "message"; 
     mes.appendChild(messageDiv);

     var mes_time = document.createElement('div')
     mes_time.className = "time";
     mes_time.innerHTML = time
     messageDiv.appendChild(mes_time);
     
     var contentDiv = document.createElement('div')
     contentDiv.className = "content-mes";
     contentDiv.innerHTML = message.content;
     messageDiv.appendChild(contentDiv);

     var authorDiv = document.createElement('div')
     authorDiv.className = "author_mes";
     authorDiv.innerHTML = author
     messageDiv.appendChild(authorDiv);

     var wrapp = document.getElementById('wrapp'); 
     wrapp.scrollTop = wrapp.scrollHeight;
      
 };

 chatSocket.onclose = function(e) {
     console.error('Chat socket closed unexpectedly');
 };

 document.querySelector('#text').focus();
 document.querySelector('#text').onkeyup = function(e) {
     if (e.keyCode === 13) {  // enter, return
         document.querySelector('#chat-message-submit').click();
     }
 };

 document.querySelector('#chat-message-submit').onclick = function(e) {
     var messageInputDom = document.querySelector('#text'); 
     var message = messageInputDom.value; 
     chatSocket.send(JSON.stringify({
         'message': message,
         'command': 'new_message',
         'from': id_user
     }));

     messageInputDom.value = '';
 };
</script>
{% endblock content %}

